.container {
  display: flex;
}

.past,
.future {
  width: 100%;
  max-width: 50%;
  background-color: beige;
  //border: 1px solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  white-space: pre;
  font-family: "Andika New Basic", sans-serif;
  font-size: 3rem;
}

.past {
  text-align: right;
  background-color: bisque;
  white-space: pre;
}

.input-div {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: beige;
  min-height: 2rem;
  border: 1px solid black;
}
