<div class="layout">
  <header>
    <mat-toolbar>
      <span data-testid="title-span">Keyboard trainer, v1.3</span>
    </mat-toolbar>

    <nav>
      <button
        mat-button
        color="primary"
        routerLink="/"
        id="go-to-home-button"
        routerLinkActive="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Trainer
      </button>

      <button
        mat-button
        color="primary"
        id="go-to-settings-button"
        routerLink="/settings"
        routerLinkActive="routerLinkActive"
      >
        Settings
      </button>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <mat-toolbar>
      <span>
        Keyboard trainer, https://github.com/andrew2020wit, MIT License.
      </span>
    </mat-toolbar>
  </footer>
</div>
