.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

header {
  width: 100%;
  flex: 0;
}

main {
  width: 100%;
  flex: 1;
}

footer {
  width: 100%;
  flex: 0;
}

.main-content {
  padding: 1rem;
}

.mat-toolbar {
  background-color: #e6ecff;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}
