<button mat-button color="primary" (click)="clearState()">
  Reset Statistic/Text
</button>

<button mat-button color="primary" (click)="resetText()">
  ResetText
</button>
<br/>

<button mat-button
        color="primary"
        id="save-text-button"
        (click)="saveText()"
        [disabled]="text.length < 100">
  SaveText
</button>

<mat-form-field>
  <mat-label>Text (min: 100 char, max: 10000 char)</mat-label>
  <textarea
    matInput
    placeholder="Text (max 10000 char)"
    minlength="100"
    id="text-area"
    maxlength="10000"
    [(ngModel)]="text"
  ></textarea>
</mat-form-field>
