.view-box {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.past,
.future {
  display: flex;
  width: 100%;
  max-width: 50%;
  background-color: beige;
  padding-top: 1rem;
  padding-bottom: 1rem;
  white-space: pre;
  font-family: "Andika New Basic", sans-serif;
  font-size: 3rem;
  @media (max-width: 1200px){
    font-size: 2rem;
  }
  @media (max-width: 800px){
    font-size: 1.5rem;
  }
  @media (max-width: 600px){
    font-size: 1rem;
  }
}

.past {
  background-color: bisque;
  flex-direction: row;
  justify-content: flex-end;
}

.input-div {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: beige;
  min-height: 2rem;
  border: 1px solid black;
  .mat-form-field {
    width: 100%;
  }
}
