<app-info-panel></app-info-panel>

<div class="view-box">
  <div class="past">
    <app-char-span
      *ngFor="let char of pastStringArr"
      [char]="char.char"
      [color]="char.color"
    ></app-char-span>
  </div>

  <div class="future">
    <app-char-span
      *ngFor="let char of futureStringArr"
      [char]="char.char"
      [color]="char.color"
    ></app-char-span>
  </div>
</div>

<div class="input-div">
  <mat-form-field >
    <mat-label>Type here!</mat-label>
    <input
      matInput
      placeholder="Type here!"
      autofocus
      data-testid="key-input"
      autocomplete="off"
      (keypress)="onKeyPress($event)"
      [(ngModel)]="inputValue"
    />
  </mat-form-field>
</div>
